.points-loading-container
{
    position: fixed;
    display: none;
    bottom: 0.1rem;
    right: 0.1rem;
    transform: translate(-25%, -25%);
    width: 7.5rem;
    height: 5rem;
    z-index: 9999;
}

.point1, .point2, .point3
{
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    background-color: black;
    border-radius: 50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
}

.point1
{
    background-color: var(--extra-color);
    animation: 2.5s infinite point1;
}

.point2
{
    background-color: var(--extra-color);
    animation: 2.5s infinite point2;
}

@keyframes point1
{
    0% {
        top: 0;
        left: 0;
    }
    25% {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    50% {
        top: 0;
        left: 0;
        transform: translate(0, 0);
    }
    75% {
        top: 100%;
        left: 100%;
        transform: translate(-100%, -100%);
    } 
    100% {
        top: 0;
        left: 0;
    } 
}

@keyframes point2
{
    0% {
        top: 0;
        left: 100%;
        transform: translateX(-100%);
    }
    25% {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    50% {
        top: 0;
        left: 100%;
        transform: translateX(-100%);
    }
    75% {
        top: 100%;
        left: 0;
        transform: translateY(-100%);
    } 
    100% {
        top: 0;
        left: 100%;
        transform: translateX(-100%);
    } 
}

