body
{
    /*
    =========================================================================
    This pattern is downloaded from www.toptal.com/designers/subtlepatterns/ 
    If you need more, that's where to get'em.
    ========================================================================
    */
    /* IMAGE SOURCE: GOOGLE GRAPHICS */
    margin: 0;
    padding: 0;
    background-image: url(../img/background.png);
    background-size: fill;
    background-repeat: no-repeat;
    font-family: "Raleway", "sans-serif";
    overflow: hidden;
}
a
{
    color: black;
    transition: 0.3s;
}
a:hover
{
    color: rgba(221,48,80,1);
}
#window
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0px;
    height: 400px;
    background-color: rgba(255,255,255,0.8);
    box-shadow: 0px 3px 10px gray;
    transition: 0.7s;
}
#info
{
    opacity: 0;
    float: left;
    width: 350px;
    height: 400px;
    background-color: #f1dedd;
    transition: 0.5s;
}
.logo
{
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}
.logo img
{
    width: 100px;
}
.logo h1
{
    letter-spacing: 0.2rem;
    font-size: 24px;
    font-weight: 300;
    line-height: 1.2;
}
.logo h3
{
    font-size: 16px;
    font-weight: 300;
}
.logo p
{
    font-size: 14px;
    font-weight: 300;
}
.logo .spacer
{
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0;
    border-bottom: 1px solid black;
    opacity: 0.1;
}
#form
{
    opacity: 0;
    float: left;
    position: relative;
    width: 300px;
    height: 400px;
    padding: 30px;
    box-sizing: border-box;
    transition: 0.5s;
}
#login
{
    transition: 0.5s;
}
#forget_pass
{
    display: none;
    opacity: 0;
    transition: 0.5s;
}
#form h1
{
    padding-left: 26px;
    font-size: 28px;
}
#form form
{
    padding-top: 30px;
    text-align: center;
}
.input_container
{
    position: relative;
}
input[type="password"], input[type="text"]
{
    margin-top: 12px;
    margin-bottom: 12px;
    border: none;
    background-color: transparent;
    border: 2px solid black;
    padding: 4px;
    border-radius: 5px;
    font-size: 14px;
    transition: 0.3s;
}
input[type="password"]:focus, input[type="text"]:focus
{
    border: 2px solid var(--extra-color);;
}
label
{
    position: absolute;
    top: -6px;
    font-size: 12px;
}
.forgot, .back_login
{
    cursor: pointer;
    position: absolute;
    bottom: -18px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 12px;
    transition: 0.5s;
}
.forgot:hover
{
    color: rgba(221,48,80,1);
}
button
{
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: var(--dark-color);
    color: var(--light-color);
    border: none;
    border-radius: 5px;
    font-weight: 500;
    height: 2rem;
    transition-duration: 0.35s;
}
button:hover
{
    border-color: var(--extra-color);
    color: var(--light-color);
    background-color: var(--extra-color);
}
#request_result_login, #request_result_forgot
{
    width: 100%;
    text-align: center;
    min-height: 40px;
    font-size: 12px;
    transition: 0.3s;
    color: red;
    transition: 0.5s;
}
.copy
{
    position: absolute;
    width: 100%;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 12px;
}
/* COOKIES */
.cookies_button
{
    cursor: pointer;
    position: absolute;
    background-color: white;
    padding: 10px;
    padding-bottom: 15px;
    bottom: -5px;
    left: 10px;
    font-size: 12px;
    border-radius: 5px 5px 0 0;
    transition: 0.3s;
}
.cookies_button:hover
{
    bottom: 0px !important;
}
.cookies_info
{
    position: absolute;
    background-color: white;
    padding: 10px;
    bottom: -50px;
    left: 10px;
    font-size: 12px;
    border-radius: 5px;
    transition: 0.3s;
}
.info_frame
{
    position: relative;
    padding-right: 26px;
}
.cookies_info img
{
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 2px;
    width: 16px;
}

@media only screen and (max-width: 700px)
{
    #window
    {
        width: 300px !important;
    }
    #info
    {
        display: none;
    }
    .cookies_info
    {
        margin-left: 10px;
        margin-right: 10px;
    }
}
/* CHANGE PASS */
.frame
{
    font-size: 13px;
    padding-top: 20px;
    text-align: center;
}
#request_result_reset
{
    color: red;
    font-size: 12px;
}