html
{
   font-size: 62.5%;
}
body
{
   font-size: 1.5rem;
}
/* NAV-MENU */
.navbar
{
   border-radius: 1rem;
}
.navbar-brand
{
   font-size: 2rem;
   
}
.nav-item
{
   border-right: 1px solid black;
   padding: 0.5rem;
   text-align: center;
}  
.nav-item:last-child
{
   border: 0;
}
.custom-toggler.navbar-toggler 
{ 
 border: 0;
 font-size: 1.75rem;
} 
.custom-toggler .navbar-toggler-icon 
{ 
background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); 
}         