@import "variables.css";

html
{
   font-size: 62.5%;
}

body
{
   font-size: 1.5rem;
   background-color: var(--light-color);
}

/* NAV-MENU */
#menu
{
   margin-right: 0;
}

.navbar
{
   background-color: var(--dark-color);
}

.navbar-brand
{
   font-size: 2rem;
   color: var(--white-color);
   margin-left: 2rem;
   font-weight: 500;
   transition-duration: 150ms;
}

.navbar-brand:hover
{
    color: var(--extra-color);
}

.nav-item
{
   padding: 0.5rem;
   text-align: center;
   margin-left: 2rem;
   
}  

.nav-link
{
   color: var(--white-color);
   position: relative;
   text-align: center;
   font-weight: 500;
   transition-duration: 150ms;
}

.nav-link:hover
{
   /*background-color: ghostwhite;
   border-radius: 2rem;*/
   color: var(--extra-color);
}

.nav-text::before
{
   content: '';
   position: absolute;
   width: 0;
   left: 50%;
   bottom: 0;
   height: 0.2rem;
   background-color: var(--light-color);
   transform: translate( -50%, 100%);
   transition: 300ms width;
}

.nav-text:hover::before
{
   width: 100%;
}

.navbar-nav .nav-icon
{
   max-height: 5rem;
   margin-top: -0.7rem;
   filter: brightness(0%) invert(1);
   transition-duration: 150ms;
}

.navbar-nav .nav-icon:hover
{
    filter: invert(0) brightness(100%);
}

#navbar-toggler-menu
{
    outline: none !important;
    border: 0;
    font-size: 1.75rem;
}

.custom-toggler .navbar-toggler-icon 
{  
    background-image: url("../icons/menu.svg");
    background-size: auto;
    font-size: 100%;
    transition-duration: 150ms;
}

.navbar-toggler
{
    filter: brightness(0%) invert(1);
    transition-duration: 150ms;
}

.navbar-toggler:hover
{
    filter: invert(0) brightness(100%);
}

#navbar-toggler-icon-menu-close
{
    background-image: url("../icons/menu_close.svg");
}

#navbar-toggler-menu-close
{
    outline: none !important;
    border: 0;
    font-size: 1.75rem;
    display: none;
}

/* FOOTER */
footer
{
 bottom: 0;
 position: fixed;
 width: 100%;
 background-color: var(--dark-color);  
 color: white;
}
.hr-footer
{
   background-color: white;
}
.tooltip-inner 
{
   min-width: initial;
   width: 32rem;
   font-size: 1.5rem;
}
/* ROBOCZE MEDIA QUERY */
@media only screen and (max-width: 992px)
{
   
}

@media only screen and (min-width: 768px) 
{
    #navbar-toggler-menu
    {
        display: none !important;
    }  
    
    #navbar-toggler-menu-close
    {
        display: none !important;
    }
}

@media only screen and (max-width: 768px) 
{
    .nav-item
    {
       padding: 0.5rem;
       text-align: center;
       margin-left: 0rem;
    }  
    
    .nav-link:hover::before
    {
       width: 30%;
    }
}