/* FONT */
@font-face
{
  font-family: "Titilium";
  src: url("fonts/titilliumweb-regular-webfont.woff") format("woff"),
       url("fonts/titilliumweb-regular-webfont.woff2") format("woff2"),
       url("fonts/titilliumweb-regular-webfont.ttf") format("ttf");
}

/* VARIABLES */

:root 
{
  --light-color: #f9f8f4;
  --dark-color: #353330;
  --extra-color: #dd3050;
  --black-color: #000;
  --white-color: #fff;
  --extra-light-color: #f7f0ef;
}

@font-face 
{
  font-family: TitilliumWeb;
  src: url(fonts/TitilliumWeb-Regular.ttf);
}