@keyframes show-element{
    0% {opacity:0;}
    100% {opacity:1;}
}

@keyframes show-nav-link-icon-container{
    0% {height:0;}
    100% {height:3.3rem;}
}

@keyframes like-it{
    0%,75%,100% {filter: grayscale(0);}
    25% {filter: grayscale(1);}
}

@keyframes error-img{
    0%,100% {background-image: url(../img/icons/haiku_logo_normal.svg);}
    25%,75% {background-image: url(../img/icons/error_404_1.svg);}
    50% {background-image: url(../img/icons/error_404_2.svg);}
}