@keyframes show-element{
    from {opacity:0;}
    to {opacity:1;}
}

@keyframes show-nav-link-icon-container{
    from {height:0;}
    to {height:3.3rem;}
}

@keyframes like-it{
    0% {filter: grayscale(0);}
    25% {filter: grayscale(1);}
    75% {filter: grayscale(0);}
    100% {filter: grayscale(0);}
}

@keyframes error-img{
    0%,100% {background-image: url(../img/icons/haiku_logo_normal.svg);}
    25%,75% {background-image: url(../img/icons/error_404_1.svg);}
    50% {background-image: url(../img/icons/error_404_2.svg);}
}