// FONT
@font-face {
  font-family: TitilliumWeb;
  src: url(fonts/TitilliumWeb-Regular.ttf);
}

// VARIABLES
$black-color: #000;
$dark-color: #353330;
$extra-color: #dd3050;
$extra-light-color: #f7f0ef;
$light-color: #f9f8f4;
$white-color: #fff;

