@import "config";

.jumbotron-text{
    text-align: center;
    width: 100%;
    margin-left: 0;
    min-height: 2rem;
}

.author-edit{
    width: 3rem;
    height: 3rem;
    position: absolute;
    right: 0.5rem;
    top: 0.25rem;
    background-image: url(../img/icons/edit_normal.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border-radius: 50%;
    transition-duration: 0.35s;
}

.author-edit:hover{
    box-shadow: inset 2px 0px 30px 1px rgba(221,48,80,0.5);
}

#author_list li{
    position: relative;
}

.add-inputs, .live{
    margin-top: 5rem;
    font-size: 1.6rem;
}

.add-inputs h4, .live h4{
    text-align: center;
    font-size: 2.25rem;
}

.add-inputs hr, .live hr{
    width: 10rem;
}

.add-inputs label{
    margin-left: 10%;
    display: block;
    margin-top: 3rem;
}

.add-inputs input{
    display: block;
}

.add-inputs input[type="text"]{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    height: 3.6rem;
    padding: 0.5rem 1rem;
    background-color: $white-color;
    border: 1.5px solid $dark-color;
    border-radius: 0.5rem;
    transition-duration: 0.35s;
}

.add-inputs input[type="file"]{
    width: 30rem;
    margin-left: 10%;
    height: 3.6rem;
    outline: none;
    display: none;
}

.add-inputs .input-button{
    background-color: $white-color;
    color: $dark-color;
    border: 1.5px solid $dark-color;
    border-radius: 0.5rem;
    font-weight: 500;
    margin-top: 0.75rem;
    line-height: 3rem;
    text-align: center;
    width: 15rem;
    height: 3.5rem;
    cursor: pointer;
    transition-duration: 0.35s;
}

.add-inputs .input-button:hover{
    border-color: $extra-color;
}

.add-inputs textarea{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    min-height: 11rem;
    line-height: 3rem;
    padding: 0.5rem 1rem;
    resize: none;
    background-color: $white-color;
    border: 1.5px solid $dark-color;
    border-radius: 0.5rem;
    transition-duration: 0.35s;
}

.add-inputs textarea:focus, .add-inputs input[type="text"]:focus{
    outline: none;
    border-color: $extra-color;
}

.add-inputs textarea::-webkit-scrollbar{
    width: 0.5rem;
}

.add-inputs textarea::-webkit-scrollbar-track{
    background: none; 
    border-radius: 2rem;
}
 
.add-inputs textarea::-webkit-scrollbar-thumb{
    background-color: $dark-color;
    border-radius: 1rem;
    transition-duration: 0.35s;
}

.add-inputs textarea::-webkit-scrollbar-thumb:hover{
    background-color: $extra-color; 
}

.add-inputs input[type="submit"]{
    margin: 4rem auto;
    background-color: $dark-color;
    color: $white-color;
    border: 2px solid $dark-color;
    border-radius: 0.5rem;
    font-weight: 500;
    min-width: 10rem;
    height: 4rem;
    transition-duration: 0.35s;
}

.add-inputs input[type="submit"]:hover{
    border-color: $extra-color;
}

.add-inputs ul{
    display: none;
    position: absolute;
    background-color: $white-color;
    color: $dark-color;
    margin-left: 10%;
    margin-right: 10%;
    border: 1px solid $dark-color;
    width: calc(80% - 3rem);
    min-height: 3.5rem;
    max-height: 11rem;
    overflow-y: auto;
    border-radius: 0.25rem;
    padding-left: 0;
}

.add-inputs ul li{
    text-align: center;
    border-bottom: 1px solid $dark-color;
    min-height: 3.5rem;
    line-height: 3.5rem;
    list-style: none;
    width: 100%;
    cursor: pointer;
    transition-duration: 0.15s;
}

.add-inputs ul li:hover{
    background-color: $extra-light-color;
    color: $extra-color;
}

.add-inputs ul li:last-child{
    border-bottom: 0;
}

.file-position{
    position: relative;
}

.file-name{
    word-break: break-word;
    margin-left: 10%;
    margin-top: 0.5rem;
    width: 80%;
    display: none;
}

.file-delete{
    position: absolute;
    left: 15.5rem;
    top: 3.2rem;
    width: 3.5rem;
    height: 3.5rem;
    border: 1.5px solid $dark-color;
    border-radius: 0.5rem;
    cursor: pointer;
    transition-duration: 0.35s;
    display: none;
}

.file-delete:before{
    content: "";
    display: block;
    position: absolute;
    top: 1.5rem;
    left: 0.6rem;
    transform: translate(-50%, -50%);
    transform: rotate(-45deg);
    width: 2rem;
    height: 0.3rem;
    
    background: #000;
    transition-duration: 0.35s;
}

.file-delete:after{
    content: "";
    display: block;
    position: absolute;
    top: 1.5rem;
    left: 0.6rem;
    transform: translate(-50%, -50%);
    width: 2rem;
    height: 0.3rem;
    transform: rotate(45deg);
    background: #000;
    transition-duration: 0.35s;
}

.file-delete:hover::before, .file-delete:hover::after{
    background: $extra-color;
}

.file-delete:hover{
    border-color: $extra-color;
}

.posts{
    position: relative;
    top: 7.5rem;
    left: 50%;
    width: 100%;
    margin-bottom: 25rem;
    transform: translateX(-50%);
}

.posts:hover
{
    box-shadow: none;
}

.posts .post-header{
    min-height: 100%;
}

.posts .post-header .posts-haiku{
    backdrop-filter: blur(1rem);
    height: 100%;
}

.posts .post-header .posts-haiku .post-haiku{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 1;
    height: 100%;
}

.posts .post-footer .post-like:hover{
    background-image: url(../img/icons/heart_normal.svg);
    cursor: default;
}

.add-new-author{
    position: fixed;
    display: none;
    z-index: 99999;
    width: 40rem;
    min-height: 32rem;
    background-color: $light-color;
    border: 1px solid $dark-color;
    border-radius: 0.5rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-box-shadow: 0px 5px 50px -10px rgba(0,0,0,1);
    -moz-box-shadow: 0px 5px 50px -10px rgba(0,0,0,1);
    box-shadow: 0px 5px 50px -10px rgba(0,0,0,1);

    p{
        text-align: center;
        font-size: 2rem;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
        letter-spacing: 0.2rem;
    }

    input[type="text"]{
        display: block;
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 2.5rem;
        height: 3.6rem;
        padding: 0.5rem 1rem;
        background-color: $white-color;
        border: 1.5px solid $dark-color;
        border-radius: 0.5rem;
        transition-duration: 0.35s;
    }

    input[type="submit"]{
        position: relative;
        top: 2.5rem;
        left: 50%;
        transform: translateX(-50%);
        background-color: $dark-color;
        color: $light-color;
        border: 2px solid $dark-color;
        border-radius: 0.5rem;
        font-weight: 500;
        width: 10rem;
        height: 4rem;
        transition-duration: 0.35s;
    }

    input[type="text"]:focus{
        outline: none;
        border-color: $extra-color;
    }

    input[type="submit"]:hover{
        border-color: $extra-color;
    }
}

.add-new-author-close{
    width: 2rem;
    height: 2rem;
    position: absolute;
    right: 1rem;
    top: 1rem;
    cursor: pointer;
}

.add-new-author-close:before, .add-new-author-close:after{
    content: "";
    width: 0.3rem;
    height: 2rem;
    background-color: $dark-color;
    position: absolute;
    left: 40%;
    transform: translateX(-50%);
    transition-duration: 0.35s;
}

.add-new-author-close:before{
    transform: rotate(-45deg);
}

.add-new-author-close:after{
    transform: rotate(45deg);
}

.add-new-author-close:hover::before, .add-new-author-close:hover::after { 
    background-color: $extra-color;
}

.lang-switch{
    display: none;
}

@import "loading";