@import "config";

html{
   font-size: 62.5%;
}

body{
    background-color: $light-color;
    font-family: TitilliumWeb;
    font-size: 1.5rem;
}

// NAV-MENU
#menu{
   margin-right: 0;
}

.navbar{
    background-color: $dark-color;
    z-index: 99;

    &-brand{
        color: $white-color;
        font-size: 2rem;
        font-weight: 500;
        margin-left: 2rem;
        transition-duration: 150ms;
     }
     
     &-brand:hover{
        color: $extra-color;
     }
}

.nav-item{
    margin-left: 2rem;
    padding: 0.5rem;
    text-align: center;
}  

.nav-link{
   color: $white-color;
   font-weight: 500;
   position: relative;
   text-align: center;
   transition-duration: 150ms;
}

.nav-link:hover{
   color: $extra-color;
}

.nav-text::before{
    background-color: $white-color;
    bottom: 0;
    content: '';
    height: 0.2rem;
    left: 50%;
    position: absolute;
    transform: translate( -50%, 100%);
    transition: 300ms width;
    width: 0;
}

.nav-text:hover::before{
   width: 100%;
}

.navbar-nav .nav-icon{
    margin-top: -0.7rem;
    margin-left: 0;
    max-height: 5rem;
    transition-duration: 150ms;
    width: 8rem;
}

.nav-icon .nav-link:hover .avatar-nav-icon{
    border-radius: 50px;
    box-shadow: inset 2px 0px 30px 1px rgba(221,48,80,0.5);
}

.avatar-nav-icon{
    background-image: url("../img/icons/avatar_circle_normal.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: auto;
    margin-right: auto;
    height: 4rem;
    transition-duration: 150ms;
    width: 4rem;
}

.navbar-nav .nav-link-icon{
    display: inline-block;
    padding: 0.5rem;
}

#nav-link-icon-container{
    background-color: $dark-color;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    display: none;
    margin-left: -0.5rem;
    width: 8rem;
}

.gear-nav-icon{
    background-image: url("../img/icons/gear_normal.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 110%;
    height: 2rem;
    transition-duration: 150ms;
    width: 2rem;
}

.logout-nav-icon{
    background-image: url("../img/icons/logout_wide.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 130%;
    height: 2rem;
    transition-duration: 150ms;
    width: 2rem;
}

.gear-nav-icon:hover, .logout-nav-icon:hover{
    border-radius: 50px;
    box-shadow: inset 2px 0px 30px 1px rgba(221,48,80,0.5);
}

#navbar-toggler-menu{
    border: 0;
    font-size: 1.75rem;
    outline: none !important;
}

.custom-toggler .navbar-toggler-icon{  
    background-image: url("../img/icons/menu_flash_normal.svg");
    background-size: auto;
    font-size: 100%;
    transition-duration: 150ms;
}

#navbar-toggler-icon-menu-close{
    background-image: url("../img/icons/menu_close_normal.svg");
}

#navbar-toggler-menu-close{
    border: 0;
    display: none;
    font-size: 1.75rem;
    outline: none !important;
}

// JUMBOTRON
.jumbotron-my{
    background-color: #f1dedd;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    box-shadow: 0px 20px 50px -20px rgba(221,48,80,1);
    padding: 5rem;
}

.jumbotron-text{
    float: left;
    margin-left: 16.666667%;
    min-height: 20rem;
    width: 33.333333%;

    h1{
        letter-spacing: 0.2rem;
    }
}

.jumbotron-img{
    background-image: url(../img/icons/haiku_logo_normal.svg);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 75%;
    float: left;
    min-height: 20rem;
    width: 33.333333%;
}

// FILTERS
.filters{
    margin-top: 5rem;

    h4{
        font-size: 2rem;
        text-align: center;
    }

    hr{
        width: 10rem;
    }
}

.filters #show-filters, .filters #hide-filters{
    cursor: pointer;
    display: none;
    font-weight: 100;
    letter-spacing: 0.1rem;
    text-align: center;
    transition-duration: 0.05s;
}

.filters #show-filters:hover, .filters #hide-filters:hover{
    font-weight: 500;
}

.filter-option{
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    min-height: 6rem;
    width: 100%;

    p{
        font-weight: 500;
        padding-left: 0.75rem;
    }

    input[type="radio"]{
        display: none;
    }
}

.radio-container label{
    margin-left: 25%;
    padding-left: 1rem;
    position: relative;
    width: 75%;
}

.radio-container span::before, .radio-container span::after{
    bottom: 0;
    content: '';
    margin: auto;
    position: absolute;
    top: 0;
}

.radio-container span.radio{
    transition-duration: 0.15s;
}

.radio-container span.radio:hover{
    color: $extra-color;
    cursor: pointer;
    margin-left: 1rem;
}

.radio-container span.radio::before{
    background-color: $dark-color;
    border-radius: 5rem;
    height: 2.25rem;
    left: -5rem;
    width: 4rem;
}
.radio-container span.radio::after{
    background-color: $white-color;
    border-radius: 1rem;
    height: 1.5rem;
    left: -4.5rem;
    top: 0rem;
    transition: left .25s, background-color .25s;
    width: 1.5rem;
}

input[type="radio"]:checked + label span.radio::after{
    background-color: $extra-color;
    left: -3rem;
}

.filter-option input[type="text"]{
    background-color: $white-color;
    border: 1.5px solid $dark-color;
    border-radius: 0.5rem;
    height: 3.5rem;
    margin-left: 0.75rem;
    margin-right: 0.75rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    transition-duration: 0.35s;
    width: calc(100% - 1.5rem);
}

.filter-option input[type="text"]:focus{
    border-color: $extra-color;
    outline: none;
}

.filter-option:last-child{
    margin-bottom: 5rem;
    position: relative;
}

.filter-option input[type="submit"]{
    background-color: $dark-color;
    border: 2px solid $dark-color;
    border-radius: 0.5rem;
    color: $white-color;
    font-weight: 500;
    height: 4rem;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    transition-duration: 0.35s;
    width: 8rem;
}

.filter-option input[type="submit"]:hover{
    border-color: $extra-color;
}

.filter-option ul{
    background-color: $white-color;
    border: 1px solid $dark-color;
    border-radius: 0.25rem;
    color: $dark-color;
    display: none;
    margin-left: 0.75rem;
    margin-right: 0.75rem;
    max-height: 10rem;
    min-height: 3.5rem;
    overflow-y: auto;
    padding-left: 0;
    position: absolute;
    width: calc(100% - 1.5rem);
    z-index: 2;

    li{
        border-bottom: 1px solid $dark-color;
        cursor: pointer;
        min-height: 3.5rem;
        line-height: 3.5rem;
        list-style: none;
        text-align: center;
        transition-duration: 0.15s;
        width: 100%;
    }

    li:hover{
        background-color: $extra-light-color;
        color: $extra-color;
    }

    li:last-child{
        border-bottom: 0;
    }
}

// POSTS
.load-error{
    
    font-size: 2.5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    position: relative;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

#haiku_box{
    align-content: flex-start;
    display: flex;
    flex-wrap: wrap;
    min-height: 5rem;
}

.posts{ 
    border-radius: 0.5rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
    min-height: 20rem;
    position: relative;
    transition-duration: 0.35s;
}

.posts:hover{
    box-shadow: 0px 0px 50px -30px rgba(221,48,80,1);
}

.post-header{
    background-color: $extra-color;
    background-image: url(../../uploads/background/default.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-left: 1px solid $dark-color;
    border-right: 1px solid $dark-color;
    border-top: 1px solid $dark-color;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    height: 100%;
    width: 100%;
    word-wrap: break-word;
}

.posts:hover .post-header .posts-haiku{
    backdrop-filter: blur(1rem);
}

.posts:hover .post-header .posts-haiku .post-haiku{
    opacity: 1;
}

.posts-haiku{
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    height: 100%;
    padding: 10% 2rem;
    width: 100%;
    word-wrap: break-word;
}

.post-haiku{
    color: $light-color;
    font-weight: 600;
    font-size: 2rem;
    left: 50%;
    letter-spacing: 0.25rem;
    line-height: 5rem;
    opacity: 0;
    position: relative;
    text-align: center;
    top: 37.5%;
    text-shadow: 2px 0 1px $dark-color, -2px 0 1px $dark-color, 0 2px 1px $dark-color, 0 -2px 1px $dark-color, 1px 1px 1px $dark-color, -1px -1px 1px $dark-color, 1px -1px 1px $dark-color, -1px 1px 1px $dark-color;
    transform: translate(-50%, -50%);
    transition-duration: 0.15s;
}

.post-author{
    color: #444;
    font-size: 1.5rem;
    padding-left: 1rem;
    padding-top: 0.5rem;
    width: 75%;
    word-wrap: break-word;
}

.post-country{
    color: #777;
    font-size: 1.15rem;
    padding-left: 1.1rem;
    padding-top: 0.15rem;
    width: 75%;
    word-wrap: break-word;
    text-transform: uppercase;
}

.lang-switch{
    left: 1rem;
    position: absolute;
    top: 1rem;
}

.lang-switcher{
    display: inline-block;
    height: 2.75rem;
    position: relative;
    width: 5rem;

    input{
        height: 0;
        opacity: 0;
        width: 0;
    }
}

.lang-slider{
    background-color: $light-color;
    border-radius: 5rem;
    bottom: 0;
    cursor: pointer;
    left: 0;
    opacity: 0.3;
    position: absolute;
    right: 0;
    top: 0;
    transition: 0.4s;
    transition-duration: 0.35s;
}

.lang-slider:hover{
    opacity: 1;
}

.lang-slider:before{
    background-color: $dark-color;
    border-radius: 50%;
    bottom: 0.375rem;
    color: $light-color;
    content: "EN";
    font-size: 1rem;
    font-weight: bold;
    height: 2rem;
    left: 0.5rem;
    line-height: 2rem;
    position: absolute;
    text-align: center;
    transition-duration: 0.35s;
    width: 2rem;
}

.lang-switcher input:checked + .lang-slider:before{
    background-color: $extra-color;
    color: #FFFFFF;
    content: "NAT";
    font-size: 0.85rem;
    transform: translateX(2rem);
}

.post-footer{
    border-bottom: 1px solid $dark-color;
    border-left: 1px solid $dark-color;
    border-right: 1px solid $dark-color;
    border-top: 1px solid $dark-color;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    background-color: $white-color;
    min-height: 5rem;
    position: relative;
    width: 100%;
}

.post-like{
    background-image: url(../img/icons/heart_normal.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    bottom: 1.75rem;
    cursor: pointer;
    height: 3rem;
    position: absolute;
    right: 1.5rem;
    transition-duration: 0.35s;
    width: 3rem;

    span{
        left: 50%;
        position: absolute;
        top: 2.25rem;
        transform: translateX(-50%);
        user-select: none;
    }
}

.post-like:hover{
    background-image: url(../img/icons/heart_color_normal.svg);
}

.post-nav{
    cursor: pointer;
    height: 2.45rem;
    position: absolute;
    right: 1rem;
    top: 1rem;
    width: 2rem;
}

.post-nav-dot{
    border: 1.5px solid $light-color;
    border-radius: 50%;
    height: 0.65rem;
    margin-bottom: 0.25rem;
    margin-left: auto;
    margin-right: auto;
    transition-duration: 0.15s;
    width: 0.65rem;
}

.post-nav-dot:before{
    border: 1.5px solid $light-color;
    border-radius: 50%;
    content: "";
    display: block;
    height: 0.65rem;
    left: 50%;
    margin-bottom: 0.25rem;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    transition-duration: 0.15s;
    width: 0.65rem;
}

.post-nav-dot:after{
    border: 1.5px solid $light-color;
    border-radius: 50%;
    content: "";
    display: block;
    height: 0.65rem;
    left: 50%;
    margin-bottom: 0.25rem;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 86%;
    transform: translate(-50%,-50%);
    transition-duration: 0.15s;
    width: 0.65rem;
}

.post-nav:hover .post-nav-dot{
    border-color: $dark-color;
}

.post-nav:hover .post-nav-dot:before{
    border-color: $dark-color;
}

.post-nav:hover .post-nav-dot:after{
    border-color: $dark-color;
}

.post-nav-handwriting{
    background-color: $white-color;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid $dark-color;
    border-radius: 0.25rem;
    box-shadow: 2.5px 2.5px 10px -5px rgba(53,51,48,1);
    cursor: default;
    display: none;
    height: 25vw;
    left: 50%;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 40vw;
    z-index: 998;
}

.post-nav-sub{    
    background-color: $white-color;
    border: 1px solid $dark-color;
    border-radius: 0.25rem;
    box-shadow: 2.5px 2.5px 10px -5px rgba(53,51,48,1);
    display: none;
    left: 0;
    min-height: 3.5rem;
    min-width: 10rem;
    position: absolute;
    top: 0;
    transform: translateX(-100%);
    user-select: none;

    a:link{
        text-decoration: none;
    }
}

.post-nav-sub-option{
    color: $dark-color;
    font-weight: 500;
    padding: 0.5rem;
    text-align: center;
    transition-duration: 0.15s;
    width: 100%;
}

.post-nav-sub-option:hover{
    color: $extra-color;
}

.page-communicate{
    align-items: center;
    background-color: #ffffff;
    border: 1px solid $dark-color;
    border-radius: 0.5rem;
    box-shadow: 0px 5px 25px -10px rgba(0,0,0,1);
    color: $dark-color;
    display: none;
    font-size: 1.5rem;
    justify-content: space-between;
    left: 50%;
    letter-spacing: 0.1rem;
    padding: 0.75rem;
    position: fixed;
    text-align: center;
    top: 6.5rem;
    transform: translateX(-50%);
    width: 30%;
    z-index: 999;

    &-icon{
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        height: 5rem;
        margin: 0.1rem 2rem;
        width: 25%;
    }

    &-text{
        margin: 0.1rem 2rem 0.1rem 0.5rem;
        width: 70%;
    }
}

.post-report-menu{
    background-color: $light-color;
    border: 1px solid $dark-color;
    border-radius: 0.5rem;
    box-shadow: 0px 5px 50px -10px rgba(0,0,0,1);
    display: none;
    left: 50%;
    min-height: 35rem;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    z-index: 999;

    p{
        font-size: 2rem;
        margin-bottom: 1.5rem;
        margin-top: 1.5rem;
        letter-spacing: 0.2rem;
        text-align: center;
    }

    textarea{
        background-color: $light-color;
        border: none;
        border-top: 1.5px solid $dark-color;
        border-bottom: 1.5px solid $dark-color;
        color: $dark-color;
        height: 20rem;
        outline: none;
        padding: 1rem;
        resize: none;
        transition-duration: 0.35s;
        width: 100%;
    }

    textarea:focus{
        background-color: $extra-light-color;
        border-top: 1.5px solid $extra-color;
        border-bottom: 1.5px solid $extra-color;
    }

    input[type="email"]{
        background-color: $light-color;
        border: 1.5px solid $dark-color;
        border-radius: 0.5rem;
        color: $dark-color;
        height: 3.6rem;
        margin-left: 5%;
        margin-right: 5%;
        outline: none;
        padding: 1rem;
        resize: none;
        transition-duration: 0.35s;
        width: 90%;
    }

    input[type="email"]:focus{
        border: 1.5px solid $extra-color;
    }

    .g-recaptcha{
        margin: 2rem 5% 2rem;
    }

    input[type="submit"]{
        background-color: $dark-color;
        border: 2px solid $dark-color;
        border-radius: 0.5rem;
        color: $light-color;
        font-weight: 500;
        height: 4rem;
        left: 50%;
        margin-bottom: 5rem;
        position: relative;
        top: 2.5rem;
        transform: translateX(-50%);
        transition-duration: 0.35s;
        width: 8rem;
    }

    label{
        margin: 2rem 5% 1rem;
    }

    input[type="submit"]:hover{
        border-color: $extra-color;
    }
}

.post-report-menu input, .post-report-menu textarea{
    display: block;
}

.post-report-close, .post-nav-handwriting-close{
    cursor: pointer;
    height: 2rem;
    position: absolute;
    right: 1rem;
    top: 1rem;
    width: 2rem;
}

.post-report-close:before, .post-report-close:after, .post-nav-handwriting-close:before, .post-nav-handwriting-close:after{
    background-color: $dark-color;
    content: "";
    height: 2rem;
    left: 40%;
    position: absolute;
    transform: translateX(-50%);
    transition-duration: 0.35s;
    width: 0.3rem;
}

.post-report-close:before, .post-nav-handwriting-close:before{
    transform: rotate(-45deg);
}

.post-report-close:after, .post-nav-handwriting-close:after{
    transform: rotate(45deg);
}

.post-report-close:hover::before, .post-report-close:hover::after, .post-nav-handwriting-close:hover::before, .post-nav-handwriting-close:hover::after{ 
    background-color: $extra-color;
}

.post-report-menu textarea::-webkit-scrollbar{
    width: 0.5rem;
}

.post-report-menu textarea::-webkit-scrollbar-track{
    background: none; 
    border-radius: 2rem;
}
 
.post-report-menu textarea::-webkit-scrollbar-thumb{
    background-color: $dark-color;
    border-radius: 1rem;
    transition-duration: 0.35s;
}

.post-report-menu textarea::-webkit-scrollbar-thumb:hover{
    background-color: $extra-color; 
}

.mg-posts{
    float: left;
    margin-left: 5%;
    margin-right: 2.5%;
    width: 40%;
}

.mg-posts1{
    float: none;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
}

.mg-posts3{
    float: left;
    margin-left: 2.5%;
    margin-right: 0.833333%;
    width: 30%;
}

// PAGINATION
.pagination{
    clear: both;
    margin-bottom: 4rem;
    margin-right: 2.5%;
    padding-top: 5rem;
    position: static;
    user-select: none;
}

.pagination .page-item .page-link{
    background-color: $dark-color;
    border: 2px solid $dark-color;
    border-radius: 0.5rem;
    color: $white-color;
    cursor: pointer;
    font-weight: 500;
    height: 4rem;
    line-height: 2.5rem;
    margin: 1rem;
    text-align: center;
    transition-duration: 0.35s;
    width: 11rem;
}

.pagination .page-item .page-link-number{
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    min-width: 4.25rem;
    width: 0;
}

.pagination .page-item .page-link:hover{
    border-color: $extra-color;
}

// FOOTER
footer{
    background-color: $dark-color;  
    bottom: 0;
    color: $white-color;
    width: 100%;

    h4{
        font-size: 2rem;
        font-weight: 200;
        letter-spacing: 0.1rem;
    }
}

.hr-footer{
    background-color: #777;
}

.footer-a{
    color: $extra-color;
    font-weight: 500;
    transition-duration: 0.35s;
}

.footer-a:hover{
    color: $white-color;
    text-decoration: none;
}

.tooltip-inner{
    font-size: 1.4rem;
    max-width: 20rem;
    min-width: 10rem;
    padding: 0.5rem;
}

.logo-footer{
    height: 12.5rem;
    margin-left: auto;
    margin-right: auto;
    width: 12.5rem;
}

.logo-tooltip{
    background-color: #ffffff88;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    height: 100%;
    transition-duration: 0.25s;
    width: 100%;
}

.logo-tooltip:hover{
    background-color: #ffffffbb;
}

.logo-tooltip-1{
    background-image: url(../img/partners/logo_bp.png);
    background-size: contain;
}

.logo-tooltip-2{
    background-image: url(../img/partners/logo_zs1.png);
    background-size: contain;
}

.logo-tooltip-3{
    background-image: url(../img/partners/frosty_coders.svg);
}

.footer-copyright{
    font-size: 1rem;
    letter-spacing: 0.25rem;
    text-align: center;
}

.footer-copyright a{
    color: $white-color;
    text-decoration: none;
    transition-duration: 0.35s;
}

.footer-copyright a:hover{
    color: $extra-color;
}

// COOKIE ALERT
.cookie-alert{
    align-items: center;
    background-color: $dark-color;
    bottom: 0;
    color: $white-color;
    display: flex;
    justify-content: center;
    left: 0;
    min-height: 5rem;
    position: fixed;
    width: 100%;
    z-index: 9999;

    &-close{
        cursor: pointer;
        height: 2.5rem;
        position: absolute;
        right: 1rem;
        top: 1rem;
        width: 2.5rem;
    }

    &-close:before{
        background-color: $white-color;
        content: "";
        height: 0.25rem;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%,-50%) rotate(-45deg);
        transition-duration: 0.35s;
        width: 2rem;
    }

    &-close:after{
        background-color: $white-color;
        content: "";
        height: 0.25rem;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%,-50%) rotate(45deg);
        transition-duration: 0.35s;
        width: 2rem;
    }

    &-close:hover::before, &-close:hover::after{
        background-color: $extra-color;
    }

    p{
        padding-bottom: 1rem;
        padding-top: 1rem;
        text-align: center;
        width: 80%;

        span{
            font-weight: bold;
        }

        a{
            color: $extra-color;
            text-decoration: none;
            transition-duration: 0.35s;
        }

        a:hover{
            color: $extra-light-color;
        }
    }
}

@import "loading";
@import "media";
@import "animations";