@import "config";

.load-error{
    font-size: 2.5rem;
    margin-top: 2.5rem;
    padding-bottom: 2rem;
    padding-top: 2rem;
    text-align: center;
    width: 100%;
}

.jumbotron-text{
    margin-left: 0;
    min-height: 2rem;
    text-align: center;
    width: 100%;
}

.first-row{
    font-size: 1.75rem;
    margin-top: 5rem;

    h4{
        font-size: 2.25rem;
        text-align: center;
    }

    hr{
        margin-bottom: 2.5rem;
        width: 10rem;
    }

    .hr-big{
        margin: 3rem auto;
        width: 80%;
    }
}

// AUTHORS LIST
.author-submit-container{
    display: flex;
    justify-content: center;
    width: 100%;
}

.author-edit{
    background-image: url(../img/icons/edit_normal.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 50%;
    height: 3rem;
    left: 3.5rem;
    position: absolute;
    top: 50%;
    transform: translateY(-20%);
    transition-duration: 0.15s;
    width: 3rem;
}

.author-edit:hover{
    box-shadow: inset 2px 0px 30px 1px rgba(221,48,80,0.75);
}

#table-response1 tr, #table-response2 tr
{
    position: relative;
}

.add-new-author{
    background-color: $light-color;
    border: 1px solid $dark-color;
    border-radius: 0.5rem;
    box-shadow: 0px 5px 50px -10px rgba(0,0,0,1);
    display: none;
    left: 50%;
    min-height: 32rem;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 40rem;
    z-index: 99999;

    p{
        font-size: 2rem;
        letter-spacing: 0.2rem;
        margin-bottom: 1.5rem;
        margin-top: 1.5rem;
        text-align: center;
    }

    input[type="text"]{
        background-color: $white-color;
        border: 1.5px solid $dark-color;
        border-radius: 0.5rem;
        display: block;
        height: 3.6rem;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 2.5rem;
        padding: 0.5rem 1rem;
        transition-duration: 0.35s;
        width: 80%;
    }

    input[type="submit"], input[type="button"]{
        background-color: $dark-color;
        border: 2px solid $dark-color;
        border-radius: 0.5rem;
        color: $light-color;
        font-weight: 500;
        height: 4rem;
        margin: 2rem;
        position: relative;
        transition-duration: 0.35s;
        width: 10rem;
    }

    input[type="text"]:focus{
        border-color: $extra-color;
        outline: none;
    }

    input[type="submit"]:hover, input[type="button"]:hover{
        border-color: $extra-color;
        outline: none;
    }
}

.add-new-author-close{
    cursor: pointer;
    height: 2rem;
    position: absolute;
    right: 1rem;
    top: 1rem;
    width: 2rem;
}

.add-new-author-close:before, .add-new-author-close:after{
    background-color: $dark-color;
    content: "";
    height: 2rem;
    left: 40%;
    position: absolute;
    transform: translateX(-50%);
    transition-duration: 0.35s;
    width: 0.3rem;
}

.add-new-author-close:before{
    transform: rotate(-45deg);
}

.add-new-author-close:after{
    transform: rotate(45deg);
}

.add-new-author-close:hover::before, .add-new-author-close:hover::after{ 
    background-color: $extra-color;
}

.table-con{
    padding: 2.5rem;
}

.table-responsive{
    margin-bottom: 1rem;
    text-align: center;
}

.table-hover tbody tr{
    cursor: pointer;
}

.table-hover tbody tr:hover{
    background-color: #f1dedd;
}

// ABOUT THE PROJECT
.information{
    padding: 1rem;
    text-align: center;
}

.information q, .info-about q{
    color: $extra-color;
    font-weight: bold;
}

.info-about{
    padding: 1rem;
    text-align: justify;
}

.info-about:last-child{
    margin-bottom: 5rem;
}

.info-about-author{
    color: #777;
    padding: 1rem;
    text-align: right;
}

.info-about-author:last-child{
    margin-bottom: 3rem;
}

// AUTHOR MAP
.nothing{
    height: 5rem;
    width: 100%;
}

// SETTINGS
.settings{
    margin-bottom: 5rem;
}

.settings label{
    margin: 1rem 10%;
    width: 80%;
}

.settings label:first-child{
    margin-top: 2rem;
}

.settings input[type="submit"]{
    background-color: $dark-color;
    border: 2px solid $dark-color;
    border-radius: 0.5rem;
    color: $light-color;
    display: none;
    font-size: 1.25rem;
    font-weight: 500;
    height: 3rem;
    left: 80%;
    margin-bottom: 3rem;
    position: relative;
    top: 1.5rem;
    transform: translateX(-50%);
    transition-duration: 0.35s;
    width: 7.5rem;
}

.settings input[type="submit"]:hover{
    border-color: $extra-color;
}

.settings-icon{
    background-image: url(../img/icons/avatar_circle_color_normal.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 25rem;
    margin: 2rem auto 0;
    width: 25rem;
}

.settings-nickname{
    color: $extra-color;
    font-weight: bold;
    font-size: 1.75rem;
    margin-bottom: 2rem;
    text-align: center;
    width: 100%;
}

.settings-email{
    color: $extra-color;
    margin-bottom: 2rem;
    text-align: center;
    width: 100%;
}

.settings input[type="text"], .settings input[type="password"], .settings input[type="email"]{
    background-color: $white-color;
    border: 1.5px solid $dark-color;
    border-radius: 0.5rem;
    height: 3.6rem;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 0.5rem;
    padding: 0.5rem 1rem;
    transition-duration: 0.35s;
    width: 80%;
}

.settings input[type="text"]:focus, .settings input[type="password"]:focus, .settings input[type="email"]:focus{
    border-color: $extra-color;
    outline: none;
}

.hr-big-space{
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.password-checker{
    align-items: center;
    display: none;
    height: 1rem;
    justify-content: space-between;
    margin: 3rem 10% 1rem 10%;
    width: 80%;

    .password-weak, .password-medium, .password-strong{
        background-color: #777;
        border-radius: 2.5px;
        height: 100%;
        margin: 0 1rem;
        width: 100%;
    }
}

.settings-notification{
    display: none;
    text-align: center;
    top: 0.75rem;
}

// REPORTS LIST
.filter-form{
    clear: both;
    display: block;
}

.filter-option{
    margin-top: 2rem;
    min-height: 10rem;
    width: 45%;
}

.filter-option p{
    padding-left: 5%;
}

.radio-container{
    float: left;
    width: 50%;
}

.radio-container label{
    padding-left: 1rem;
    position: relative;
    width: 100%;
}

.radio-container span.radio:hover{
    margin-left: 0;
}

.report-content{
    align-content: flex-start;
    display: flex;
    flex-wrap: wrap;
}

.report-container{
    background-color: #ffffff;
    border: 1.5px solid $dark-color;
    border-radius: 0.5rem;
    float: left;
    margin: 2.5rem 2.5%;
    min-height: 5rem;
    position: relative;
    transition-duration: 0.35s;
    width: 45%;

    hr{
        margin-bottom: 0.25rem;
        margin-top: 0.25rem;
        width: 60%;
    }
}

.report-container:hover{
    box-shadow: 0px 0px 50px -30px rgba(221,48,80,1);
}

.report-sender{
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    text-align: center;
    width: 75%;
    word-break: break-all;
}

.report-sender span, .report-desc span{
    color: $extra-color;
    display: block;
    padding-bottom: 0.75rem;
    text-align: center;
}

.report-desc{
    padding: 1.5rem;
    text-align: justify;
}

.report-time{
    color: #777;
    font-size: 1.25rem;
    left: 1rem;
    position: absolute;
    top: 1rem;
}

.report-to-haiku{
    background-color: $dark-color;
    border: 2px solid $dark-color;
    border-radius: 0.5rem;
    color: $light-color;
    cursor: pointer;
    font-weight: 500;
    height: 4rem;
    line-height: 3.5rem;
    margin: 1rem auto 2rem auto;
    text-align: center;
    transition-duration: 0.35s;
    user-select: none;
    width: 11rem;
}

.report-to-haiku:hover{
    border-color: $extra-color;
    outline: none;
}

.report-switch{
    position: absolute;
    right: 1rem;
    top: 0.85rem;
}

.report-switcher{
    display: inline-block;
    height: 2.75rem;
    position: relative;
    width: 5rem;
}

.report-switcher input{
    height: 0;
    opacity: 0;
    width: 0;
}

.report-slider{
    background-color: $dark-color;
    border-radius: 5rem;
    bottom: 0;
    cursor: pointer;
    left: 0;
    opacity: 0.75;
    position: absolute;
    right: 0;
    top: 0;
    transition-duration: 0.35s;
}

.report-slider:hover{
    opacity: 1;
}

.report-slider:before{
    left: 0.5rem;
    background-color: $light-color;
    bottom: 0.375rem;
    border-radius: 50%;
    content: "";
    height: 2rem;
    position: absolute;
    transition-duration: 0.35s;
    width: 2rem;
}

.report-slider:after{
    bottom: -1.5rem;
    color: $dark-color;
    content: "UNDONE";
    font-size: 1rem;
    font-weight: bold;
    left: 50%;
    position: absolute;
    text-align: center;
    transform: translateX(-50%);
    transition-duration: 0.35s;
}

.report-switcher input:checked + .report-slider:before{
    background-color: $extra-color;
    transform: translateX(2rem);
}

.report-switcher input:checked + .report-slider:after{
    content: "DONE";
}

// ERROR PAGES
.error-img{
    animation: error-img 5s infinite;
    background-image: url(../img/icons/error_404_2.svg);
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
    height: 50rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: -2rem;
    width: 100%;
}

.error-message h1{
    color: $extra-color;
    font-size: 5rem;
    font-weight: bold;
    padding-left: 5rem;
    padding-top: 9rem;
}

.error-message p{
    font-size: 2.5rem;
    margin-top: 2rem;
    padding-left: 5rem;
}

.error-message a button{
    background-color: $dark-color;
    border: 2px solid $dark-color;
    border-radius: 0.5rem;
    color: $light-color;
    font-size: 2.5rem;
    font-weight: 500;
    height: 5rem;
    margin-left: 5rem;
    margin-top: 2rem;
    transition-duration: 0.35s;
    width: 30rem;
}

.error-message a button:hover{
    border-color: $extra-color;
    outline: none;
}

@media only screen and (max-width: 992px){
    .filter-option{
        width: 75%;
    }
}

@media only screen and (max-width: 768px){    
   .report-container{
        float: none;
        margin-left: 5%;
        width: 90%;
    }
    
    .error-img{
        background-image: none;
        display: none;
        height: 0;
    }
    
    .error-message h1{
        padding-left: 0;
        padding-top: 0;
        text-align: center;
    }
    
    .error-message p{
        padding-left: 0;
        text-align: center;
    }
    
    .error-message a button{
        left: 50%;
        margin-left: 0;
        margin-bottom: 10rem;
        position: relative;
        transform: translateX(-50%);
    }
    
    .filter-option{
        min-height: 17.5rem;
        width: 100%;
    }
    
    .radio-container{
        margin-left: 20%;
        width: 60%;
    }
    
    .filter-option p{
        padding-left: 0;
        text-align: center;
    }
}

@import "loading";