# Turn on rewrite engine
RewriteEngine On

# Change main server directory
#RewriteCond %{HTTP_HOST} ^(www\.)?localhost\$ [NC]
#RewriteCond %{REQUEST_FILENAME} !/public/
#RewriteRule ^(.*)$ /public/$1 [L]

# Redirect to secure connection
#RewriteCond %{HTTPS} !=on
#RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Set semantic URLs
#RewriteRule ^main_page index.php [NC,L]
#RewriteRule ^about_project about_the_project.php [NC,L] 
#RewriteRule ^authors authors_list.php [NC,L] 
#RewriteRule ^change_email change_email.php [NC,L] 
#RewriteRule ^change_pass change_pass.php [NC,L] 
#RewriteRule ^haiku_editor haiku_editor.php [NC,L]
#RewriteRule ^login login.php [NC,L] 
#RewriteRule ^privacy privacy_policy.php [NC,L]
#RewriteRule ^cookies cookies_policy.php [NC,L] 
#RewriteRule ^reports reports_list.php [NC,L] 
#RewriteRule ^settings settings.php [NC,L]

Options -Indexes

# Define error page
ErrorDocument 400 http://localhost/haiku/public/error.php?err=400
ErrorDocument 401 http://localhost/haiku/public/error.php?err=401 
ErrorDocument 403 http://localhost/haiku/public/error.php?err=403 
ErrorDocument 404 http://localhost/haiku/public/error.php?err=404 
ErrorDocument 410 http://localhost/haiku/public/error.php?err=410
ErrorDocument 500 http://localhost/haiku/public/error.php?err=500
ErrorDocument 501 http://localhost/haiku/public/error.php?err=501 
ErrorDocument 503 http://localhost/haiku/public/error.php?err=503 

