.jumbotron-text
{
    text-align: center;
    width: 100%;
    margin-left: 0;
    min-height: 2rem;
}

.first-row
{
    margin-top: 5rem;
    font-size: 1.75rem;
}

.first-row h4
{
    text-align: center;
    font-size: 2.25rem;
}

.first-row hr
{
    width: 10rem;
    margin-bottom: 2.5rem;
}

.first-row .hr-big
{
    width: 80%;
    margin: 3rem auto;
}

/* AUTHORS LIST */
.table-responsive
{
    text-align: center;
    margin-bottom: 5rem;
}

.table-hover tbody tr:hover
{
    background-color: #f1dedd;
}

/* ABOUT THE PROJECT */
.information
{
    padding: 1rem;
    text-align: center;
}

.information q
{
    color: var(--extra-color);
    font-weight: bold;
}

.info-about
{
    padding: 1rem;
    text-align: justify;
}

.info-about-author
{
    padding: 1rem;
    text-align: right;
    color: #777;
}

.info-about-author:last-child
{
    margin-bottom: 3rem;
}

/* CONTACT */
.first-row ul
{
    list-style-type: circle;
}

.info-about-big
{
    font-size: 1.9rem;
}