.points-loading-container
{
    display: none;
    position: fixed;
    bottom: 0.1rem;
    right: 0.1rem;
    transform: translate(-25%, -25%);
    width: 7.5rem;
    height: 5rem;
    z-index: 9999;
}

.point1, .point1:before, .point1:after
{
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    width: 1.25rem;
    height: 1.5rem;
    position: absolute;
    border-radius: 0.1rem;
    -moz-border-radius: 0.1rem;
    -webkit-border-radius: 0.1rem;
    background-color: var(--extra-color);
}

.point1
{
    animation: 2s infinite point1;
}

.point1:before
{
    content: "";
    display: block;
    left: -125%;
    height: 2rem;
    animation: 2.5s infinite point1;
}

.point1:after
{
    content: "";
    display: block;
    left: 225%;
    height: 2.5rem;
    animation: 3s infinite point1;
}


@keyframes point1
{
    0%, 100% {
        height: 0;
    }
    50% {
        height: 4.5rem;
    } 
}