@import "variables.css";

html 
{
    width: 100%;
    height: 100%;
}
body
{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: TitilliumWeb, sans-serif;
    overflow: hidden;
}
a
{
    text-decoration: none;
    color: #000;
}
.bg_image
{
    width: 100%;
    height: 100%;
    background-image: url(../img/background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(4px);
}
.login_window
{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 2px 2px 10px gray;
}
.frame
{
    position: relative;
    text-align: center;
    padding: 20px;
    transition: 0.35s;
}
#haiku_logo
{
    width: 160px;
}
.input_frame
{
    position: relative;
    margin-bottom: 20px;
}
.input_label
{
    position: absolute;
    font-size: 10px;
    left: 52px;
    top: -14px;
}
.login_input
{
    border: 2px solid black;
    border-radius: 5px;
    background: none;
    padding: 4px;
    outline: none;
    transition: 0.35s;
}
.login_input:hover, .login_input:focus
{
    border: 2px solid var(--extra-color);
}
input[type='submit']
{
    min-width: 100px;
    padding: 6px;
    background-color: var(--dark-color);
    border: 2px solid var(--dark-color);
    border-radius: 5px;
    color: var(--white-color);
    transition: 0.35s;
    cursor: pointer;
    font-size: 12px;
}
input[type='submit']:hover
{
    border: 2px solid var(--extra-color);
}
.additional_option
{
    font-size: 11px;
    cursor: pointer;
    transition: 0.35s;
    padding: 1px;
    padding-top: 1rem;
}
.additional_option:hover
{
    color: var(--extra-color);
}
.last_input
{
    margin-bottom: 0;
}
.space
{
    position: relative;
    height: 50px;
}
#page_result
{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 240px;
    transform: translateY(-50%) translateX(-50%);
    font-size: 12px;
    line-height: 14px;
}
.copy
{
    position: absolute;
    width: 100%;
    left: 50%;
    bottom: 4px;
    transform: translateX(-50%);
    font-size: 11px;
    text-align: center;
}

/* FORGOT PASSWORD */
#login_form
{
    transition: 0.35s;
}
#forgot_form
{
    display: none;
    opacity: 0;
    transition: 0.35s;
}
.notification
{
    width: 100%;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
}
/* LOADING  */
#loading-container
{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100vh;
    transition: 0.35s;
    z-index: 9999;
}
.points-loading-container
{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 5rem;
    height: 3rem;
}
.point1, .point2
{
    width: 1rem;
    height: 1rem;
    position: absolute;
    background-color: black;
    border-radius: 50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
}
.point1
{
    background-color: var(--extra-color);
    animation: 2.5s infinite point1;
}
.point2
{
    background-color: var(--extra-color);
    animation: 2.5s infinite point2;
}
@keyframes point1
{
    0% {
        top: 0;
        left: 0;
    }
    25% {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    50% {
        top: 0;
        left: 0;
        transform: translate(0, 0);
    }
    75% {
        top: 100%;
        left: 100%;
        transform: translate(-100%, -100%);
    } 
    100% {
        top: 0;
        left: 0;
    } 
}

@keyframes point2
{
    0% {
        top: 0;
        left: 100%;
        transform: translateX(-100%);
    }
    25% {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    50% {
        top: 0;
        left: 100%;
        transform: translateX(-100%);
    }
    75% {
        top: 100%;
        left: 0;
        transform: translateY(-100%);
    } 
    100% {
        top: 0;
        left: 100%;
        transform: translateX(-100%);
    } 
}



