@import "variables.css";
@import "loading.css";

html
{
   font-size: 62.5%;
}

body
{
   font-size: 1.5rem;
   background-color: var(--light-color);
   font-family: TitilliumWeb;
}

@keyframes show-element
{
    from {opacity:0;}
    to {opacity:1;}
}

/* NAV-MENU */
#menu
{
   margin-right: 0;
}

.navbar
{
   background-color: var(--dark-color);
    z-index: 99;
}

.navbar-brand
{
   font-size: 2rem;
   color: var(--white-color);
   margin-left: 2rem;
   font-weight: 500;
   transition-duration: 150ms;
}

.navbar-brand:hover
{
    color: var(--extra-color);
}

.nav-item
{
   padding: 0.5rem;
   text-align: center;
   margin-left: 2rem;
   
}  

.nav-link
{
   color: var(--white-color);
   position: relative;
   text-align: center;
   font-weight: 500;
   transition-duration: 150ms;
}

.nav-link:hover
{
   color: var(--extra-color);
}

.nav-text::before
{
   content: '';
   position: absolute;
   width: 0;
   left: 50%;
   bottom: 0;
   height: 0.2rem;
   background-color: var(--white-color);
   transform: translate( -50%, 100%);
   transition: 300ms width;
}

.nav-text:hover::before
{
   width: 100%;
}

.navbar-nav .nav-icon
{
   max-height: 5rem;
   margin-top: -0.7rem;
    margin-left: 0;
    width: 8rem;
   transition-duration: 150ms;
}

.nav-icon .nav-link:hover .avatar-nav-icon
{
    border-radius: 50px;
    -webkit-box-shadow: inset 2px 0px 30px 1px rgba(221,48,80,0.5);
    -moz-box-shadow: inset 2px 0px 30px 1px rgba(221,48,80,0.5);
    box-shadow: inset 2px 0px 30px 1px rgba(221,48,80,0.5);
}

.avatar-nav-icon
{
    width: 4rem;
    height: 4rem;
    transition-duration: 150ms;
    background-image: url("../img/icons/avatar_circle_normal.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-left: auto;
    margin-right: auto;
}

.navbar-nav .nav-link-icon
{
    display: inline-block;
}

#nav-link-icon-container
{
    display: none;
    width: 8rem;
    margin-left: -0.5rem;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    background-color: var(--dark-color);
}

.gear-nav-icon
{
    width: 2rem;
    height: 2rem;
    background-image: url("../img/icons/gear_normal.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 110%;
    transition-duration: 150ms;
}

.logout-nav-icon
{
    width: 2rem;
    height: 2rem;
    background-image: url("../img/icons/logout_wide.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 130%;
    transition-duration: 150ms;
}

.gear-nav-icon:hover, .logout-nav-icon:hover
{
    border-radius: 50px;
    -webkit-box-shadow: inset 2px 0px 30px 1px rgba(221,48,80,0.5);
    -moz-box-shadow: inset 2px 0px 30px 1px rgba(221,48,80,0.5);
    box-shadow: inset 2px 0px 30px 1px rgba(221,48,80,0.5);
}

@keyframes show-nav-link-icon-container {
  from {height:0;}
  to {height:3.3rem;}
}

#navbar-toggler-menu
{
    outline: none !important;
    border: 0;
    font-size: 1.75rem;
}

.custom-toggler .navbar-toggler-icon 
{  
    background-image: url("../img/icons/menu_flash_normal.svg");
    background-size: auto;
    font-size: 100%;
    transition-duration: 150ms;
}

#navbar-toggler-icon-menu-close
{
    background-image: url("../img/icons/menu_close_normal.svg");
}

#navbar-toggler-menu-close
{
    outline: none !important;
    border: 0;
    font-size: 1.75rem;
    display: none;
}


/* JUMBOTRON */
.jumbotron-my
{
    padding: 5rem;
    background-color: #f1dedd;
    -webkit-box-shadow: 0px 20px 50px -20px rgba(221,48,80,1);
    -moz-box-shadow: 0px 20px 50px -20px rgba(221,48,80,1);
    box-shadow: 0px 20px 50px -20px rgba(221,48,80,1);
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.jumbotron-text
{
    width: 33.333333%;
    min-height: 20rem;
    margin-left: 16.666667%;
    float: left;
}

.jumbotron-text h1
{
    letter-spacing: 0.2rem;
}

.jumbotron-img
{
    width: 33.333333%;
    min-height: 20rem;
    background-image: url(../img/icons/haiku_logo_normal.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 75%;
    float: left;
}


/* FILTERS */
.filters, .posts
{
    margin-top: 5rem;
}

.filters h4
{
    text-align: center;
    font-size: 2rem;
}

.filters hr
{
    width: 10rem;
}

.filters #show-filters, .filters #hide-filters
{
    cursor: pointer;
    text-align: center;
    font-weight: 100;
    letter-spacing: 0.1rem;
    transition-duration: 0.05s;
    display: none;
}

.filters #show-filters:hover, .filters #hide-filters:hover
{
    font-weight: 500;
}

.filter-option
{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    min-height: 6rem;
    margin-top: 2rem;
}

.filter-option p
{
    font-weight: 500;
    padding-left: 0.75rem;
}

.filter-option input[type="radio"]
{
    display: none;
}

.radio-container label
{
    margin-left: 25%;
    width: 75%;
    padding-left: 1rem;
    position: relative;
}

.radio-container span::before, .radio-container span::after
{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}

.radio-container span.radio
{
    transition-duration: 0.15s;
}

.radio-container span.radio:hover
{
    cursor: pointer;
    margin-left: 1rem;
    color: var(--extra-color);
}

.radio-container span.radio::before
{
    left: -5rem;
    width: 4rem;
    height: 2.25rem;
    background-color: var(--dark-color);
    border-radius: 5rem;
}
.radio-container span.radio::after
{
    left: -4.5rem;
    top: 0rem;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 1rem;
    background-color: var(--white-color);
    transition: left .25s, background-color .25s;
}

input[type="radio"]:checked + label span.radio::after
{
    left: -3rem;
    background-color: var(--extra-color);
}

.filter-option input[type="text"]
{
    background-color: var(--white-color);
    margin-left: 0.75rem;
    margin-right: 0.75rem;
    width: calc(100% - 1.5rem);
    height: 3.5rem;
    border: 1.5px solid var(--dark-color);
    border-radius: 0.5rem;
    transition-duration: 0.35s;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.filter-option input[type="text"]:focus
{
    outline: none;
    border-color: var(--extra-color);
}

.filter-option:last-child
{
    position: relative;
}

.filter-option input[type="submit"]
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--dark-color);
    color: var(--white-color);
    border: 2px solid var(--dark-color);
    border-radius: 0.5rem;
    font-weight: 500;
    width: 8rem;
    height: 4rem;
    transition-duration: 0.35s;
}

.filter-option input[type="submit"]:hover
{
    border-color: var(--extra-color);
}

.filter-option ul
{
    display: none;
    position: absolute;
    z-index: 2;
    background-color: var(--white-color);
    color: var(--dark-color);
    margin-left: 0.75rem;
    margin-right: 0.75rem;
    border: 1px solid var(--dark-color);
    width: calc(100% - 4.5rem);
    min-height: 3.5rem;
    max-height: 10rem;
    border-radius: 0.25rem;
    padding-left: 0;
    overflow-y: auto;
}

.filter-option ul li
{
    text-align: center;
    border-bottom: 1px solid var(--dark-color);
    min-height: 3.5rem;
    line-height: 3.5rem;
    list-style: none;
    width: 100%;
    cursor: pointer;
    transition-duration: 0.15s;
}

.filter-option ul li:hover
{
    background-color: var(--extra-light-color);
    color: var(--extra-color);
}

.filter-option ul li:last-child
{
    border-bottom: 0;
}

/* POSTS */
.posts
{
    width: 40%;
    min-height: 20rem;
    border-radius: 0.5rem;
    position: relative;
    transition-duration: 0.35s;
}

.posts:hover
{
    -webkit-box-shadow: 0px 0px 50px -30px rgba(221,48,80,1);
    -moz-box-shadow: 0px 0px 50px -30px rgba(221,48,80,1);
    box-shadow: 0px 0px 50px -30px rgba(221,48,80,1);
}

.post-header
{
    width: 100%;
    height: 100%;
    background-color: var(--extra-color);
    background-image: url(../img/background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    word-wrap: break-word;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.posts:hover .post-header .posts-haiku
{
    backdrop-filter: blur(1rem);
}

.posts:hover .post-header .posts-haiku .post-haiku
{
    opacity: 1;
}

.posts-haiku
{
    padding: 10% 2rem;
    width: 100%;
    word-wrap: break-word;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    border-top: 1px solid var(--dark-color);
    border-left: 1px solid var(--dark-color);
    border-right: 1px solid var(--dark-color);
}

.post-haiku
{
    text-align: center;
    color: var(--light-color);
    letter-spacing: 0.25rem;
    line-height: 5rem;
    font-weight: 600;
    font-size: 2rem;
    opacity: 0;
    text-shadow: 2px 0 1px var(--dark-color), -2px 0 1px var(--dark-color), 0 2px 1px var(--dark-color), 0 -2px 1px var(--dark-color), 1px 1px 1px var(--dark-color), -1px -1px 1px var(--dark-color), 1px -1px 1px var(--dark-color), -1px 1px 1px var(--dark-color);
    transition-duration: 0.15s;
}

.post-author
{
    font-size: 1.5rem;
    padding-left: 1rem;
    word-wrap: break-word;
    padding-top: 0.5rem;
    color: #444;
    width: 75%;
}

.post-country
{
    font-size: 1.15rem;
    padding-left: 1.1rem;
    word-wrap: break-word;
    padding-top: 0.15rem;
    color: #777;
    width: 75%;
    text-transform: uppercase;
}

.lang-switch
{
    position: absolute;
    top: 1rem;
    left: 1rem;
}

.lang-switcher
{
    position: relative;
    display: inline-block;
    width: 5rem;
    height: 2.75rem;
}

.lang-switcher input
{
    opacity: 0;
    width: 0;
    height: 0;
}

.lang-slider
{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--light-color);
    transition: 0.4s;
    border-radius: 5rem;
    opacity: 0.3;
    transition-duration: 0.35s;
}

.lang-slider:hover
{
    opacity: 1;
}

.lang-slider:before
{
    position: absolute;
    content: "EN";
    color: var(--light-color);
    text-align: center;
    line-height: 2rem;
    font-size: 1rem;
    font-weight: bold;
    height: 2rem;
    width: 2rem;
    left: 0.5rem;
    bottom: 0.375rem;
    background-color: var(--dark-color);
    transition-duration: 0.35s;
    border-radius: 50%;
}

.lang-switcher input:checked + .lang-slider:before
{
    transform: translateX(2rem);
    content: "NAT";
    background-color: var(--extra-color);
    color: #FFFFFF;
    font-size: 0.85rem;
}

.post-footer
{
    width: 100%;
    min-height: 5rem;
    border-bottom: 1px solid var(--dark-color);
    border-left: 1px solid var(--dark-color);
    border-right: 1px solid var(--dark-color);
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    background-color: var(--white-color);
}

.post-footer:before
{
    content: "";
    width: 100%;
    height: 0.1rem;
    background-color: var(--dark-color);
    position: relative;
    display: block;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.post-like
{
    position: absolute;
    right: 1.5rem;
    bottom: 1.75rem;
    width: 3rem;
    height: 3rem;
    background-image: url(../img/icons/heart_normal.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor: pointer;
    transition-duration: 0.35s;
}

.post-like span
{
    position: absolute;
    left: 50%;
    top: 2.25rem;
    transform: translateX(-50%);
}

.post-like:hover
{
    background-image: url(../img/icons/heart_color_normal.svg);
}

@keyframes like-it
{
    0% {filter: grayscale(0);}
    25% {filter: grayscale(1);}
    75% {filter: grayscale(0);}
    100% {filter: grayscale(0);}
}

.post-nav
{
    position: absolute;
    right: 1rem;
    top: 1rem;
    width: 2rem;
    height: 2.45rem;
    cursor: pointer;
}

.post-nav-dot
{
    width: 0.65rem;
    height: 0.65rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.25rem;
    border: 1.25px solid var(--light-color);
    border-radius: 50%;
    transition-duration: 0.15s;
}

.post-nav-dot:before
{
    content: "";
    display: block;
    width: 0.65rem;
    height: 0.65rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.25rem;
    border: 1.25px solid var(--light-color);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition-duration: 0.15s;
}

.post-nav-dot:after
{
    content: "";
    display: block;
    width: 0.65rem;
    height: 0.65rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.25rem;
    border: 1.25px solid var(--light-color);
    border-radius: 50%;
    position: absolute;
    top: 86%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition-duration: 0.15s;
}

.post-nav:hover .post-nav-dot
{
    border-color: var(--dark-color);
}

.post-nav:hover .post-nav-dot:before
{
    border-color: var(--dark-color);
}

.post-nav:hover .post-nav-dot:after
{
    border-color: var(--dark-color);
}

.post-nav-handwriting
{
    position: absolute;
    display: none;
    left: 0;
    top: 0;
    cursor: default;
    transform: translate(-100%, -100%);
    width: 40rem;
    height: 25rem;
    border: 1px solid var(--dark-color);
    border-radius: 0.25rem;
    background-color: var(--white-color);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-box-shadow: 2.5px 2.5px 10px -5px rgba(53,51,48,1);
    -moz-box-shadow: 2.5px 2.5px 10px -5px rgba(53,51,48,1);
    box-shadow: 2.5px 2.5px 10px -5px rgba(53,51,48,1);
}

.post-nav-sub
{
    position: absolute;
    display: none;
    left: 0;
    top: 0;
    transform: translateX(-100%);
    min-width: 10rem;
    min-height: 3.5rem;
    border: 1px solid var(--dark-color);
    border-radius: 0.25rem;
    background-color: var(--white-color);
    -webkit-box-shadow: 2.5px 2.5px 10px -5px rgba(53,51,48,1);
    -moz-box-shadow: 2.5px 2.5px 10px -5px rgba(53,51,48,1);
    box-shadow: 2.5px 2.5px 10px -5px rgba(53,51,48,1);
}

.post-nav-sub a:link
{
    text-decoration: none;
}

.post-nav-sub-option
{
    width: 100%;
    text-align: center;
    color: var(--dark-color);
    padding: 0.5rem;
    font-weight: 500;
    transition-duration: 0.15s;
}

.post-nav-sub-option:hover
{
    color: var(--extra-color);
}

.post-error
{
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 6.5rem;
    min-width: 5rem;
    padding: 0.75rem;
    border: 1px solid var(--dark-color);
    border-radius: 0.5rem;
    text-align: center;
    color: var(--dark-color);
    font-size: 1.5rem;
    background-color: var(--extra-light-color);
    letter-spacing: 0.1rem;
    z-index: 99999;
    -webkit-box-shadow: 0px 5px 50px -10px rgba(0,0,0,1);
    -moz-box-shadow: 0px 5px 50px -10px rgba(0,0,0,1);
    box-shadow: 0px 5px 50px -10px rgba(0,0,0,1);
    display: none;
  /*  animation: show-hide-error 5s infinite; */
}

@keyframes show-hide-error
{
    0% {
        opacity: 0;
        display: none;
        top: 10rem;
    }
    
    33% {
        opacity: 1;
        display: block;
        top: 6.5rem;
    }
    
    100% {
        opacity: 0;
        display: none;
        top: 3rem;
    }
}

.post-report-menu
{
    position: fixed;
    display: none;
    z-index: 99999;
    width: 40%;
    min-height: 35rem;
    background-color: var(--light-color);
    border: 1px solid var(--dark-color);
    border-radius: 0.5rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-box-shadow: 0px 5px 50px -10px rgba(0,0,0,1);
    -moz-box-shadow: 0px 5px 50px -10px rgba(0,0,0,1);
    box-shadow: 0px 5px 50px -10px rgba(0,0,0,1);
}

.post-report-menu p
{
    text-align: center;
    font-size: 2rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    letter-spacing: 0.2rem;
}

.post-report-menu input, .post-report-menu textarea 
{
    display: block;
}

.post-report-menu textarea
{
    width: 100%;
    height: 20rem;
    background-color: var(--light-color);
    color: var(--dark-color);
    resize: none;
    outline: none;
    border: none;
    padding: 1rem;
    border-top: 1.5px solid var(--dark-color);
    border-bottom: 1.5px solid var(--dark-color);
    transition-duration: 0.35s;
}

.post-report-menu textarea:focus
{
    border-top: 1.5px solid var(--extra-color);
    border-bottom: 1.5px solid var(--extra-color);
    background-color: var(--extra-light-color);
}

.post-report-menu label
{
    margin: 2rem 5% 1rem;
}

.post-report-menu input[type="email"]
{
    width: 90%;
    height: 3.6rem;
    background-color: var(--light-color);
    color: var(--dark-color);
    resize: none;
    outline: none;
    padding: 1rem;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 0.5rem;
    border: 1.5px solid var(--dark-color);
    transition-duration: 0.35s;
}

.post-report-menu input[type="email"]:focus
{
    border: 1.5px solid var(--extra-color);
}

.post-report-menu .g-recaptcha
{
    margin: 2rem 5% 2rem;
}

.post-report-menu input[type="submit"]
{
    position: relative;
    top: 2.5rem;
    left: 50%;
    margin-bottom: 5rem;
    transform: translateX(-50%);
    background-color: var(--dark-color);
    color: var(--light-color);
    border: 2px solid var(--dark-color);
    border-radius: 0.5rem;
    font-weight: 500;
    width: 8rem;
    height: 4rem;
    transition-duration: 0.35s;
}

.post-report-menu input[type="submit"]:hover
{
    border-color: var(--extra-color);
}

.post-report-close, .post-nav-handwriting-close
{
    width: 2rem;
    height: 2rem;
    position: absolute;
    right: 1rem;
    top: 1rem;
    cursor: pointer;
}

.post-report-close:before, .post-report-close:after, .post-nav-handwriting-close:before, .post-nav-handwriting-close:after
{
    content: "";
    width: 0.3rem;
    height: 2rem;
    background-color: var(--dark-color);
    position: absolute;
    left: 40%;
    transform: translateX(-50%);
    transition-duration: 0.35s;
}

.post-report-close:before, .post-nav-handwriting-close:before
{
    transform: rotate(-45deg);
}

.post-report-close:after, .post-nav-handwriting-close:after
{
    transform: rotate(45deg);
}

.post-report-close:hover::before, .post-report-close:hover::after, .post-nav-handwriting-close:hover::before, .post-nav-handwriting-close:hover::after
{ 
    background-color: var(--extra-color);
}

.post-report-menu textarea::-webkit-scrollbar {
    width: 0.5rem;
}

.post-report-menu textarea::-webkit-scrollbar-track {
    background: none; 
    border-radius: 2rem;
}
 
.post-report-menu textarea::-webkit-scrollbar-thumb {
    background-color: var(--dark-color);
    border-radius: 1rem;
    transition-duration: 0.35s;
}

.post-report-menu textarea::-webkit-scrollbar-thumb:hover {
    background-color: var(--extra-color); 
}

.mg-posts
{
    margin-left: 5%;
    margin-right: 2.5%;
    float: left;
}

/* PAGINATION */
.pagination
{
    padding-top: 5rem;
    margin-right: 2.5%;
    margin-bottom: 4rem;
    position: static;
    clear: both;
}

.pagination .page-item .page-link
{
    text-align: center;
    margin: 1rem;
    background-color: var(--dark-color);
    color: var(--white-color);
    border: 2px solid var(--dark-color);
    border-radius: 0.5rem;
    font-weight: 500;
    width: 11rem;
    height: 4rem;
    line-height: 2.5rem;
    transition-duration: 0.35s;
}

.pagination .page-item .page-link:hover
{
    border-color: var(--extra-color);
}

/* FOOTER */
footer
{
    bottom: 0;
    width: 100%;
    background-color: var(--dark-color);  
    color: var(--white-color);
}

footer h4
{
    font-weight: 200;
    font-size: 2rem;
    letter-spacing: 0.1rem;
}

.hr-footer
{
    background-color: #777;
}

.footer-a
{
    color: var(--extra-color);
    font-weight: 500;
    transition-duration: 0.35s;
}

.footer-a:hover
{
    color: var(--white-color);
    text-decoration: none;
}

.tooltip-inner 
{
    min-width: 10rem;
    max-width: 20rem;
    font-size: 1.4rem;
    padding: 0.5rem;
}

.logo-tooltip
{
    width: 10rem;
    height: 10rem;
}

.footer-copyright
{
    letter-spacing: 0.25rem;
    font-size: 1rem;
    text-align: center;
}

/* ROBOCZE MEDIA QUERY MAX */
@media only screen and (max-width: 992px)
{
   .jumbotron-text
    {
        width: 60%;
        margin-left: 8.333333%;
    }

    .jumbotron-img
    {
        width: 28.333334%;
        margin-left: 3.333333%;
        background-size: 100%;
    }
    
    .filters #show-filters
    {
        display: block;
    }
    
    .filter-option
    {
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
    
    .filter-option ul
    {
        width: calc(50% - 3rem);
    }
    
    #filters-form
    {
        display: none;
    }
    
    .logo
    {
        margin-bottom: 3rem;
    }
    
    .post-report-menu
    {
        width: 80%;
    }
    
    .nav-item
    {
       padding: 0.5rem;
       text-align: center;
       margin-left: 0rem;
    }  
    
    .nav-link:hover::before
    {
       width: 30%;
    }
    
    .navbar-nav .nav-icon
    {
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (max-width: 768px) 
{    
    .jumbotron-my
    {
        padding: 2.5rem;
    }
    
    .jumbotron-text
    {
        text-align: center;
        width: 83.333333%;
        min-height: 10rem;
        margin-left: 8.333333%;
    }

    .jumbotron-img
    {
        display: none;
    }
    
    .posts
    {
        width: 90%;
    }
    
    .mg-posts
    {
        float:none;
        margin-left: 5%;
        margin-right: 5%;
    }
    
    .pagination
    {
        margin-right: 0;
    }
}

/* ROBOCZE MEDIA QUERY MIN */
@media only screen and (min-width: 992px) 
{
    .filters #show-filters, .filters #hide-filters
    {
        display: none !important;
    }
    
    #filters-form
    {
        display: block !important;
    }
    
    #navbar-toggler-menu
    {
        display: none !important;
    }  
    
    #navbar-toggler-menu-close
    {
        display: none !important;
    }
}