.load-error
{
    text-align: center;
    font-size: 2.5rem;
    width: 100%;
    margin-top: 2.5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.jumbotron-text
{
    text-align: center;
    width: 100%;
    margin-left: 0;
    min-height: 2rem;
}

.first-row
{
    margin-top: 5rem;
    font-size: 1.75rem;
}

.first-row h4
{
    text-align: center;
    font-size: 2.25rem;
}

.first-row hr
{
    width: 10rem;
    margin-bottom: 2.5rem;
}

.first-row .hr-big
{
    width: 80%;
    margin: 3rem auto;
}

/* AUTHORS LIST */
.table-con
{
    padding: 2.5rem;
}

.table-responsive
{
    text-align: center;
    margin-bottom: 1rem;
}

.table-hover tbody tr
{
    cursor: pointer;
}

.table-hover tbody tr:hover
{
    background-color: #f1dedd;
}

/* ABOUT THE PROJECT */
.information
{
    padding: 1rem;
    text-align: center;
}

.information q
{
    color: var(--extra-color);
    font-weight: bold;
}

.info-about
{
    padding: 1rem;
    text-align: justify;
}

.info-about-author
{
    padding: 1rem;
    text-align: right;
    color: #777;
}

.info-about-author:last-child
{
    margin-bottom: 3rem;
}

/* AUTHOR MAP */

/* SETTINGS */
.settings
{
    margin-bottom: 5rem;
}

.settings-icon
{
    background-image: url(../img/icons/avatar_circle_color_normal.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 25rem;
    height: 25rem;
    margin: 2rem auto 0;
}

.settings-nickname
{
    text-align: center;
    width: 100%;
    color: var(--extra-color);
    margin-bottom: 2rem;
    font-weight: bold;
    font-size: 1.75rem;
}

.settings-email
{
    text-align: center;
    width: 100%;
    color: var(--extra-color);
    margin-bottom: 2rem;
}

.settings label
{
    width: 80%;
    margin: 1rem 10%;
}

.settings label:first-child
{
    margin-top: 2rem;
}

.settings input[type="text"], .settings input[type="password"], .settings input[type="email"]
{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 0.5rem;
    height: 3.6rem;
    padding: 0.5rem 1rem;
    background-color: var(--white-color);
    border: 1.5px solid var(--dark-color);
    border-radius: 0.5rem;
    transition-duration: 0.35s;
}

.settings input[type="text"]:focus, .settings input[type="password"]:focus, .settings input[type="email"]:focus
{
    outline: none;
    border-color: var(--extra-color);
}

.hr-big-space
{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#check-password::placeholder
{
    color: var(--extra-color);
}

.settings input[type="submit"]
{
    display: none;
    position: relative;
    top: 1.5rem;
    left: 80%;
    transform: translateX(-50%);
    background-color: var(--dark-color);
    color: var(--light-color);
    border: 2px solid var(--dark-color);
    border-radius: 0.5rem;
    font-size: 1.25rem;
    font-weight: 500;
    width: 7.5rem;
    height: 3rem;
    margin-bottom: 3rem;
    transition-duration: 0.35s;
}

.settings input[type="submit"]:hover
{
    border-color: var(--extra-color);
}

.settings-notification
{
    position: relative;
    display: none;
    top: 0.75rem;
    left: 10%;
    
}

#password-notification
{
    display: block;
    color: #f00;
}

/* REPORTS LIST */
.filter-form
{
    clear: both;
    display: block;
}

.filter-option
{
    width: 45%;
    min-height: 10rem;
    margin-top: 2rem;
}

.filter-option p
{
    padding-left: 5%;
}

.radio-container
{
    width: 50%;
    float: left;
}

.radio-container label
{
    width: 100%;
    padding-left: 1rem;
    position: relative;
}

.radio-container span.radio:hover
{
    margin-left: 0;
}

.report-content
{
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
}

.report-container
{
    float: left;
    position: relative;
    width: 45%;
    min-height: 5rem;
    margin: 2.5rem 2.5%;
    border-radius: 0.5rem;
    background-color: #ffffff;
    border: 1.5px solid var(--dark-color);
    transition-duration: 0.35s;
}

.report-container:hover
{
    -webkit-box-shadow: 0px 0px 50px -30px rgba(221,48,80,1);
    -moz-box-shadow: 0px 0px 50px -30px rgba(221,48,80,1);
    box-shadow: 0px 0px 50px -30px rgba(221,48,80,1);
}

.report-container hr
{
    margin-bottom: 0.25rem;
    margin-top: 0.25rem;
    width: 60%;
}

.report-sender
{
    text-align: center;
    padding: 1rem;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    word-break: break-all;
}

.report-sender span, .report-desc span
{
    color: var(--extra-color);
    display: block;
    text-align: center;
    padding-bottom: 0.75rem;
}

.report-desc
{
    text-align: justify;
    padding: 1.5rem;
}

.report-time
{
    position: absolute;
    left: 1rem;
    top: 1rem;
    font-size: 1.25rem;
    color: #777;
}

.report-to-haiku
{
    margin: 1rem auto 2rem auto;
    text-align: center;
    line-height: 3.5rem;
    background-color: var(--dark-color);
    color: var(--light-color);
    border: 1.5px solid var(--dark-color);
    border-radius: 0.5rem;
    font-weight: 500;
    width: 11rem;
    height: 4rem;
    transition-duration: 0.35s;
    cursor: pointer;
    user-select: none;
}

.report-to-haiku:hover
{
    border-color: var(--extra-color);
    outline: none;
}

.report-switch
{
    position: absolute;
    top: 0.85rem;
    right: 1rem;
}

.report-switcher
{
    position: relative;
    display: inline-block;
    width: 5rem;
    height: 2.75rem;
}

.report-switcher input
{
    opacity: 0;
    width: 0;
    height: 0;
}

.report-slider
{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--dark-color);
    transition: 0.4s;
    border-radius: 5rem;
    opacity: 0.75;
    transition-duration: 0.35s;
}

.report-slider:hover
{
    opacity: 1;
}

.report-slider:before
{
    position: absolute;
    content: "";
    height: 2rem;
    width: 2rem;
    left: 0.5rem;
    bottom: 0.375rem;
    background-color: var(--light-color);
    transition-duration: 0.35s;
    border-radius: 50%;
}

.report-slider:after
{
    position: absolute;
    content: "UNDONE";
    color: var(--dark-color);
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    left: 50%;
    transform: translateX(-50%);
    bottom: -1.5rem;
    transition-duration: 0.35s;
}

.report-switcher input:checked + .report-slider:before
{
    transform: translateX(2rem);
    background-color: var(--extra-color);
}

.report-switcher input:checked + .report-slider:after
{
    content: "DONE";
}

/* ERROR PAGES */
.error-img
{
    margin-top: -2rem;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 50rem;
    background-image: url(../img/icons/error_404_2.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    animation: error-img 5s infinite;
}

@keyframes error-img
{
    0%,100% {background-image: url(../img/icons/haiku_logo_normal.svg);}
    25%,75% {background-image: url(../img/icons/error_404_1.svg);}
    50% {background-image: url(../img/icons/error_404_2.svg);}
}

.error-message h1
{
    font-size: 5rem;
    padding-top: 9rem;
    padding-left: 5rem;
    color: var(--extra-color);
    font-weight: bold;
}

.error-message p
{
    font-size: 2.5rem;
    margin-top: 2rem;
    padding-left: 5rem;
}

.error-message a button
{
    font-size: 2.5rem;
    margin-top: 2rem;
    margin-left: 5rem;
    background-color: var(--dark-color);
    color: var(--light-color);
    border: 2px solid var(--dark-color);
    border-radius: 0.5rem;
    font-weight: 500;
    width: 30rem;
    height: 5rem;
    transition-duration: 0.35s;
}

.error-message a button:hover
{
    border-color: var(--extra-color);
    outline: none;
}

@media only screen and (max-width: 992px)
{
    .filter-option
    {
        width: 75%;
    }
}

@media only screen and (max-width: 768px) 
{    
   .report-container
    {
        float: none;
        width: 90%;
        margin-left: 5%;
    }
    
    .error-img
    {
        height: 0;
        background-image: none;
        display: none;
    }
    
    .error-message h1
    {
        padding-top: 0;
        padding-left: 0;
        text-align: center;
    }
    
    .error-message p
    {
        padding-left: 0;
        text-align: center;
    }
    
    .error-message a button
    {
        margin-left: 0;
        margin-bottom: 10rem;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
    
    .filter-option
    {
        width: 100%;
        min-height: 17.5rem;
    }
    
    .radio-container
    {
        width: 60%;
        margin-left: 20%;
    }
    
    .filter-option p
    {
        padding-left: 0;
        text-align: center;
    }
}